.login-container {
  /*视口宽度的百分比 vw*/
  width: 100vw;
  /*作为flex容器*/
  display: flex;
  /*类似水平和垂直居中 */
  justify-content: center;
  align-items: center;
  /*视口高度的百分比 vh*/
  height: 100vh;
  background: url("@/loginTemp/assets/login-light-bg.png") no-repeat center center;
  /*背景大小 覆盖整个 会失真*/
  background-size: cover;
}

.form-container {
  transition: 1s;
  height: 500px;
  width: 400px;
  position: relative;
  /*作为flex容器*/
  display: flex;
  /*row时控制水平 column时反之 */
  justify-content: center;
  /*row时控制垂直 column时反之 flex-start靠上*/
  align-items: center;
  /*将容器内的子div 排列改为横向 默认row纵向*/
  flex-direction: column;
  background: transparent;
  /*  background: rgb(17, 25, 40,0.75);*/
  /*可以使背景朦胧 16px表示模糊半径为16像素 越大越朦胧*/
  /*  backdrop-filter: blur(0px) saturate(0);*/
  box-shadow: 0 0 10px 10px rgba(7, 3, 3, 0.2);
  /*圆角边框*/
  border-radius: 20px;
  /*简写 边框 width宽度 样式style 颜色color*/
  /*  border: 1px solid rgba(8, 10, 12, 0.75);*/
  /*边距 4->上右下左 2->上下左右*/
  color: black;
  padding: 40px 60px;

  .bell {
    position: absolute;
    top: 0;
    left: 300px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .logo {
    width: 200px;
    height: 70px;
    margin-top: 10px;
  }

  .input-phoneCaptcha {
    /*必须加宽度否则子标签无法变化*/
    width: 100%;
    display: flex;
    /*设置子标签为一左一右*/
    justify-content: space-between;
    align-items: center;
  }

  .to-forget {
    width: 100%;
    height: 5%;
    margin-top: 5px;
    font-size: 12px;
    display: flex;
    /*设置子标签为一左一右*/
    justify-content: right;
  }
}

/*验证码*/
.captcha-btn {
  width: 40%;
  height: 35px;
  margin-top: 30px;
  /*圆角边框*/
  border-radius: 5px;
  /*背景设置透明*/
  /*  background-color: rgb(58, 50, 50);*/
  background: transparent;
  /*不设置边框 否则会有边框会有阴影*/
  border: none;
  /*类似于边框border 描边*/
  outline: 2px solid rgb(0, 0, 0, 0.75);
  /*手指*/
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

/*返回箭头*/
.back-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  margin: 30px;
  cursor: pointer;
}


@media screen and (max-width: 968px) {
  .form-container {
    height: 350px;
    width: 250px;
    padding: 20px;
  }
}